[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{ link_path }}
User={{ user }}
Group={{ group }}
ExecStart={{ link_path }}/bin/zkServer.sh start {{ link_path }}/conf/zoo.cfg
ExecStop={{ link_path }}/bin/zkServer.sh stop {{ link_path }}/conf/zoo.cfg
ExecReload={{ link_path }}/bin/zkServer.sh restart {{ link_path }}/conf/zoo.cfg
RemainAfterExit=no
Restart=on-failure
RestartSec=10s
LimitNOFILE={{ systemd_nofile_limit }}

[Install]
WantedBy=default.target
